<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>

    <div class="col-lg-4 alinhar topo">

        <div class="card">
            <div class="card-body">
                <h2>Cadastrar Aluno</h2>
                        
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="aluno.id" />
                    <label mdbLabel class="form-label" for="typeText">ID</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="aluno.nome" />
                    <label mdbLabel class="form-label" for="typeText">Nome</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input [(ngModel)]="aluno.cpf" mdbInput  id="typeText" class="form-control" />
                    <label mdbLabel class="form-label" for="typeText">CPF</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input [(ngModel)]="aluno.telefone" mdbInput  id="typeText" class="form-control" />
                    <label mdbLabel class="form-label" for="typeText">Telefone</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input [(ngModel)]="aluno.turma" mdbInput  id="typeText" class="form-control" />
                    <label mdbLabel class="form-label" for="typeText">Turma</label>
                </mdb-form-control>
                <br>
                
                <button (click)="save()" type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark">
                    Salvar
                </button>
                
            </div>
        </div>

    </div>

    <div class="col-lg-4"></div>
    </div>
</div>    