<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>

    <div class="col-lg-4 alinhar topo">

        <div class="card">
            <div class="card-body">
                <h2>Cadastrar Professor</h2>
                        
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="professor.id" />
                    <label mdbLabel class="form-label" for="typeText">ID</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="professor.nome" />
                    <label mdbLabel class="form-label" for="typeText">Nome</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="professor.cpf" />
                    <label mdbLabel class="form-label" for="typeText">CPF</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="professor.email" />
                    <label mdbLabel class="form-label" for="typeText">E-mail</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="professor.especialidade" />
                    <label mdbLabel class="form-label" for="typeText">Especialidade</label>
                </mdb-form-control>

               
                <br>
                <button (click)="save()" type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark">
                    Salvar
                </button>
                
            </div>
        </div>

    </div>

    <div class="col-lg-4"></div>
    </div>
</div>    